
<div style="width:500px; float:right; margin-left:20px; ">
	<div class="stripe" style="padding:5px">
		<%= gravatar_image_tag @user.email, :class => 'gravatar', :gravatar => { :size => 65 } %><h1 style="float:left; margin-left:15px; margin-top:14px; padding:10px; background:white"><%= @user.username %></h1>
		<div style="clear:both"></div>
	</div>
	<div style="padding-left:100px; padding-top:5px">
		<p><strong>Name: </strong><%= @user.name %><br />
		<strong>Email: </strong><%= @user.email %></p>
	</div>
</div>
<div class="grey-box" style="width:380px; float:right">
	<div class="inner">
		<h1>Profile</h1> 	
		<p>
			<strong>Profiles</strong> show you lots of useless information. No really!
		</p>
	</div>
</div>
<div style="clear:both" />