<div class="span-23 last grey-box">
	<div class="span-17">
		<div class="inner">
			<h1>Rash Judgements</h1> 	
			<p>
				<strong>Rash Judgements</strong> is a community of people who want to find the best bacon sandwiches for you. From top Bacon Baps in Bacup, to a fab Bacon Cobb in Cobham, you'll find it here!
			</p>
		</div>
	</div>
	
	<div class="span-6 last">
		<div class="inner" style="margin-top:25px; text-align:center"> 
				<a class="textButton" style="background-image:url('assets/buttons/lilpig.png'); background-repeat:no-repeat; background-position:5px; padding-left:50px">Get Judging!</a>
		</div>
	</div>
</div>
<div style="clear:both" />