<div class="span-23 grey-box">
	<div class="span-17">
		<div class="inner">
			<h1>Rash Judgements</h1> 	
			<p>
				<strong>Rash Judgements</strong> is a community of people who want to find the best & worst of everything. From <strong>bacon sandwiches in Bangor</strong> to <strong>shoe shiners in Swanage</strong>. If you can’t find what you are looking for simply start a <strong>new judgement</strong> and share your experience with the next person!
			</p>
		</div>
	</div>
	
	<div class="span-6 last">
		<div class="inner" style="margin-top:35px; text-align:center"> 
				<a class="textButton" style="background-image:url('assets/buttons/lilpig.png'); background-repeat:no-repeat; background-position:5px; padding-left:50px">Get Judging!</a>
		</div>
	</div>
</div>
<div style="clear:both" />