<tr>
	<td class="establishment">
		<span class="content"><%= establishment.name %> - <%= establishment.lat %></span> 
		<span class="timestamp">Posted <%= time_ago_in_words(establishment.created_at) %> ago </span>
	</td> 
</tr>